USE [DemoWebBanDienThoai]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Phone] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Street] [nvarchar](255) NOT NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NULL,
	[CustomerType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteDetails]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteDetails](
	[FavoriteDetailId] [int] IDENTITY(1,1) NOT NULL,
	[FavoriteId] [int] NULL,
	[VariantId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[Message] [nvarchar](255) NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[ShippingFullName] [nvarchar](100) NULL,
	[ShippingPhone] [nvarchar](15) NULL,
	[ShippingStreet] [nvarchar](255) NULL,
	[ShippingDistrict] [nvarchar](100) NULL,
	[ShippingCity] [nvarchar](100) NULL,
	[ShippingCountry] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BrandId] [int] NOT NULL,
	[Chipset] [nvarchar](50) NULL,
	[OperatingSystem] [nvarchar](30) NULL,
	[BatteryCapacity] [smallint] NULL,
	[ChargerIncluded] [bit] NULL,
	[ScreenSize] [decimal](4, 2) NULL,
	[ScreenTech] [nvarchar](40) NULL,
	[RefreshRate] [smallint] NULL,
	[RearCamera] [nvarchar](100) NULL,
	[FrontCamera] [nvarchar](50) NULL,
	[Weight] [decimal](5, 2) NULL,
	[Dimensions] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ReleaseDate] [date] NULL,
	[MainImage] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](30) NULL,
	[Storage] [nvarchar](20) NULL,
	[RAM] [nvarchar](20) NULL,
	[Price] [decimal](18, 2) NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Stock] [int] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewDetails]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewDetails](
	[ReviewDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NULL,
	[VariantId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 12/9/2025 9:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[ShippingId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Carrier] [nvarchar](100) NULL,
	[TrackingNumber] [nvarchar](100) NULL,
	[ShippedDate] [datetime] NULL,
	[EstimatedDelivery] [datetime] NULL,
	[DeliveredDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([AccountID], [Email], [Password], [Role], [CreatedAt], [IsActive], [Phone]) VALUES (1, N'admin@shop.com', N'$2a$11$zcE.ameAB22zQlJB5Ra/n.8Gpxsp2VBq0yDoJOpQWV6tOxX2LI1rm', N'Admin', CAST(N'2025-11-20T20:04:19.373' AS DateTime), 1, NULL)
INSERT [dbo].[ACCOUNT] ([AccountID], [Email], [Password], [Role], [CreatedAt], [IsActive], [Phone]) VALUES (2, N'nguyenvana@gmail.com', N'$2a$11$7Lu7cgf2c/EMRAj.Z62Kre6OvZog.XXXNsNmHApEcFFX3Op.Yb8gy', N'Customer', CAST(N'2025-11-20T20:04:19.373' AS DateTime), 0, NULL)
INSERT [dbo].[ACCOUNT] ([AccountID], [Email], [Password], [Role], [CreatedAt], [IsActive], [Phone]) VALUES (3, N'tranthib@gmail.com', N'$2a$11$E9lJULzEcRki8WO2NsO9A.wPwc9Xv6K/YZuw2HtKtJQycOoJzTvnG', N'Customer', CAST(N'2025-11-20T20:04:19.373' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([AddressID], [CustomerID], [Street], [District], [City], [Country], [PostalCode], [IsDefault]) VALUES (1, 1, N'123 Đường Lê Lợi', N'Quận 1', N'TP. Hồ Chí Minh', N'Việt Nam', NULL, 1)
INSERT [dbo].[ADDRESS] ([AddressID], [CustomerID], [Street], [District], [City], [Country], [PostalCode], [IsDefault]) VALUES (2, 2, N'789 Đường Hai Bà Trưng', N'Quận Hoàn Kiếm', N'Hà Nội', N'Việt Nam', NULL, 1)
INSERT [dbo].[ADDRESS] ([AddressID], [CustomerID], [Street], [District], [City], [Country], [PostalCode], [IsDefault]) VALUES (3, 3, N'300 Đường Nguyễn Văn Cừ', N'Quận 5', N'TP. Hồ Chí Minh', N'Việt Nam', NULL, 1)
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [BrandName]) VALUES (1, N'Apple')
INSERT [dbo].[Brands] ([BrandId], [BrandName]) VALUES (2, N'Samsung')
INSERT [dbo].[Brands] ([BrandId], [BrandName]) VALUES (3, N'Google')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [CustomerID], [VariantId], [Quantity], [CreatedDate]) VALUES (5, 1, 13, 1, CAST(N'2025-11-23T23:15:53.270' AS DateTime))
INSERT [dbo].[CartItems] ([CartItemId], [CustomerID], [VariantId], [Quantity], [CreatedDate]) VALUES (1007, 1, 2, 1, CAST(N'2025-11-28T10:41:35.023' AS DateTime))
INSERT [dbo].[CartItems] ([CartItemId], [CustomerID], [VariantId], [Quantity], [CreatedDate]) VALUES (1019, 13, 4, 1, CAST(N'2025-12-07T21:08:36.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CustomerID], [AccountID], [FullName], [Phone], [Gender], [BirthDate], [CustomerType]) VALUES (1, 2, N'Nguyễn Văn A', N'0901234567', N'Nam', CAST(N'1995-01-15' AS Date), N'VIP')
INSERT [dbo].[CUSTOMER] ([CustomerID], [AccountID], [FullName], [Phone], [Gender], [BirthDate], [CustomerType]) VALUES (2, 3, N'Trần Thị B', N'0912345678', N'Nữ', CAST(N'2000-05-20' AS Date), N'Thường')
INSERT [dbo].[CUSTOMER] ([CustomerID], [AccountID], [FullName], [Phone], [Gender], [BirthDate], [CustomerType]) VALUES (3, 4, N'Phạm Minh C', N'0933445566', N'Nam', CAST(N'1998-03-01' AS Date), N'Thường')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[FavoriteDetails] ON 

INSERT [dbo].[FavoriteDetails] ([FavoriteDetailId], [FavoriteId], [VariantId]) VALUES (4, 2, 16)
INSERT [dbo].[FavoriteDetails] ([FavoriteDetailId], [FavoriteId], [VariantId]) VALUES (5, 1, 17)
INSERT [dbo].[FavoriteDetails] ([FavoriteDetailId], [FavoriteId], [VariantId]) VALUES (6, 3, 4)
SET IDENTITY_INSERT [dbo].[FavoriteDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteId], [CustomerID], [CreatedAt]) VALUES (1, 1, CAST(N'2025-11-20T21:26:01.813' AS DateTime))
INSERT [dbo].[Favorites] ([FavoriteId], [CustomerID], [CreatedAt]) VALUES (2, 7, CAST(N'2025-11-20T23:14:11.057' AS DateTime))
INSERT [dbo].[Favorites] ([FavoriteId], [CustomerID], [CreatedAt]) VALUES (3, 9, CAST(N'2025-11-23T03:20:33.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [UnitPrice]) VALUES (1, 1, 2, 1, CAST(33990000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [UnitPrice]) VALUES (2, 2, 4, 1, CAST(33490000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [UnitPrice]) VALUES (3, 2, 6, 1, CAST(25990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Status], [TotalAmount], [ShippingFullName], [ShippingPhone], [ShippingStreet], [ShippingDistrict], [ShippingCity], [ShippingCountry]) VALUES (1, 1, CAST(N'2025-10-15T10:30:00.000' AS DateTime), N'Đã giao hàng', CAST(33990000.00 AS Decimal(18, 2)), N'Nguyễn Văn A', N'0901234567', N'123 Đường Lê Lợi', N'Quận 1', N'TP. Hồ Chí Minh', N'Việt Nam')
INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Status], [TotalAmount], [ShippingFullName], [ShippingPhone], [ShippingStreet], [ShippingDistrict], [ShippingCity], [ShippingCountry]) VALUES (2, 2, CAST(N'2025-10-19T14:00:00.000' AS DateTime), N'Đang xử lý', CAST(59480000.00 AS Decimal(18, 2)), N'Trần Thị B', N'0912345678', N'789 Đường Hai Bà Trưng', N'Quận Hoàn Kiếm', N'Hà Nội', N'Việt Nam')
INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Status], [TotalAmount], [ShippingFullName], [ShippingPhone], [ShippingStreet], [ShippingDistrict], [ShippingCity], [ShippingCountry]) VALUES (3, 1, CAST(N'2025-11-19T09:00:00.000' AS DateTime), N'Chờ xác nhận', CAST(34990000.00 AS Decimal(18, 2)), N'Nguyễn Văn A', N'0901234567', N'123 Đường Lê Lợi', N'Quận 1', N'TP. Hồ Chí Minh', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [PaymentDate], [PaymentStatus]) VALUES (1, 1, N'COD', CAST(N'2025-10-17T11:00:00.000' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [PaymentDate], [PaymentStatus]) VALUES (2, 2, N'VnPay', CAST(N'2025-10-19T14:01:00.000' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [PaymentDate], [PaymentStatus]) VALUES (3, 3, N'COD', NULL, N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Color], [Storage], [RAM], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (1, 1, N'Titan Tự Nhiên', N'256GB', N'8GB', CAST(34990000.00 AS Decimal(18, 2)), NULL, 46, N'/images/iphone-15-pro-titan.jpg', 1, CAST(N'2025-11-20T20:04:19.433' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Color], [Storage], [RAM], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (2, 1, N'Titan Xanh', N'256GB', N'8GB', CAST(34990000.00 AS Decimal(18, 2)), CAST(33990000.00 AS Decimal(18, 2)), 26, N'/images/iphone-15-pro-blue.jpg', 1, CAST(N'2025-11-20T20:04:19.433' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Color], [Storage], [RAM], [Price], [DiscountPrice], [Stock], [ImageUrl], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (3, 1, N'Titan Trắng', N'512GB', N'8GB', CAST(40990000.00 AS Decimal(18, 2)), NULL, 17, N'/images/iphone-15-pro-white.jpg', 1, CAST(N'2025-11-20T20:04:19.433' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [Carrier], [TrackingNumber], [ShippedDate], [EstimatedDelivery], [DeliveredDate], [Status], [Note]) VALUES (1, 1, N'Giao Hàng Nhanh', N'GHN123456ABC', CAST(N'2025-10-15T17:00:00.000' AS DateTime), CAST(N'2025-10-17T00:00:00.000' AS DateTime), CAST(N'2025-10-17T10:55:00.000' AS DateTime), N'Đã giao', N'Khách hàng đã nhận hàng.')
INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [Carrier], [TrackingNumber], [ShippedDate], [EstimatedDelivery], [DeliveredDate], [Status], [Note]) VALUES (2, 13, N'Viettel Post', N'VTPOST999TEST', CAST(N'2025-11-22T10:30:00.000' AS DateTime), CAST(N'2025-11-25T00:00:00.000' AS DateTime), NULL, N'Đang vận chuyển', N'Hàng đang trên đường đến bưu cục gần nhất.')
INSERT [dbo].[Shipping] ([ShippingId], [OrderId], [Carrier], [TrackingNumber], [ShippedDate], [EstimatedDelivery], [DeliveredDate], [Status], [Note]) VALUES (3, 12, N'Viettel Post', N'VT122111', CAST(N'2025-11-21T10:23:25.683' AS DateTime), CAST(N'2025-11-24T10:23:25.683' AS DateTime), CAST(N'2025-11-21T10:23:31.630' AS DateTime), N'Đã giao', N'Bắt đầu vận chuyển đơn hàng #12')
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNT__A9D105341E7A5892]    Script Date: 12/9/2025 9:13:37 PM ******/
ALTER TABLE [dbo].[ACCOUNT] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ADDRESS] ADD  DEFAULT (N'Việt Nam') FOR [Country]
GO
ALTER TABLE [dbo].[ADDRESS] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('Nam') FOR [Gender]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (N'Thường') FOR [CustomerType]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Việt Nam') FOR [ShippingCountry]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [ChargerIncluded]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([AccountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteDetails]  WITH CHECK ADD FOREIGN KEY([FavoriteId])
REFERENCES [dbo].[Favorites] ([FavoriteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteDetails]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([AccountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ReviewDetails]  WITH CHECK ADD FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([ReviewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewDetails]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD CHECK  (([Role]='Customer' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD CHECK  (([CustomerType]=N'VIP' OR [CustomerType]=N'Thường'))
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD CHECK  (([Gender]=N'Khác' OR [Gender]=N'Nữ' OR [Gender]=N'Nam'))
GO
ALTER TABLE [dbo].[ReviewDetails]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
